body {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Roboto', 'Arial', sans-serif;
	background: #ffffff;
	color: #000000;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid red;
}

.clearfix:after {
	content: "";
	display: table ;
	clear: both;
}

.index-logo {
	float: left;
	margin-top: 30px;
	width: 140px;
	min-height: 57px;
}

.main-header {
	min-height: 435px;
	margin-bottom: 80px;
	color: #000000;
	background-color: #eee;
}

.main-navigation {
	float: left;
	width: 460px;
	min-height: 130px;
	margin-left: 180px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 50px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	padding-right: 45px;
}

.basket-block {
	float: right;
	width: 100px;
	min-height: 130px;
	margin-top: 50px;
}

.basket-block a {
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.slider {
	float: left;
	outline: 1px solid #000;
	width:380px;
	min-height: 250px;
	margin-right: 140px;
}

.slider-toogle {
	float: right;
	width:340px;
	min-height: 250px;
	outline: 1px solid #000;
	margin-right:10px;
}

.features {
	padding-bottom: 80px;
	border-bottom: 2px solid #eee;
}

.features-item {
	float: left;
	outline: 1px solid #000;
	width: 240px;
	min-height: 300px;
	margin-right: 80px;
}

.features-item:nth-child(3) {
	margin-right: 0;
	width: 240px;
}

.about-us {
	margin-top: 70px;
}

.about-us-left {
	float: left;
	outline: 1px solid #000;
	width: 640px;
	min-height: 150px;
	margin-bottom: 150px;
}

.about-us-right {
	float: right;
	width: 240px;
	min-height: 150px;
	outline: 1px solid #000;
	margin-bottom: 150px;
}
	
.scroll-left {
	float: left;
	width: 640px;
	outline: 1px solid #000;
	margin-bottom: 130px;
}

.scroll-right {
	float: right;
	outline: 1px solid #000;
	width: 240px;
	margin-bottom: 130px;
}

.map {
	width: 1200px;
	margin: 0 auto;
	min-height: 420px;
	background: url(../img/map.png) no-repeat;
}

.label {
	display: block;
	outline: 1px solid #000;
	min-height: 90px;
	margin-bottom:120px;
}

.social-network {
	float: left;
	outline: 1px solid #000;
	width: 240px;
}

.end {
	float: right;
	outline: 1px solid #000;
	width: 620px;
}

.adress {
	width: 250px;
	min-height: 240px;
}

.welcome {
	text-align:center;
}

main {
	outline: 1px solid #000;
	width: 880px;
}

.block-left {
	float: left;
	width: 280px;
	min-height: 1110px;
	margin-bottom: 80px;
}

.sorting {
	width: 600px;
	margin-bottom: 20px;
}

.gallery1 {
	float: left;
	margin-bottom: 80px;
	width: 240px;
	margin-right: 80px;
}

.gallery2 {
	float: right;
	margin-bottom: 80px;
	margin-right: 10px;
	width: 240px;
}

.page {
	margin-left: 330px;
	margin-bottom: 80px;
}