@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

body {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Roboto', 'Arial', sans-serif;
	background: #ffffff;
	color: #000000;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid red;
}

.clearfix:after {
	content: "";
	display: table ;
	clear: both;
}

.index-logo {
	float: left;
	margin-top: 30px;
	width: 140px;
	min-height: 56px;
}

.main-header {
	min-height: 435px;
	margin-bottom: 80px;
	color: #000000;
	background-color: #eee;
}

.main-navigation {
	float: left;
	width: 460px;
	min-height: 130px;
	margin-left: 180px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 50px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	padding-right: 45px;
}

.basket-block {
	float: right;
	width: 100px;
	min-height: 130px;
	margin-top: 50px;
}

.basket-block a {
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.slider {
	float: left;
	outline: 1px solid #000;
	width:380px;
	min-height: 250px;
	margin-right: 140px;
}
.slider h1 {
	font-size: 36px;
	line-height: 36px;
}

.slider h3 {
	font-size: 16px;
	line-height: 22px;
}

.slider .button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 4px 70px;
  color: #ffffff;
  background-color: #ff6666;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 11px 38px;
  color: #ffffff;
  background-color: #ff6666;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
}
 .button-green {
	background-color: #00cc66;
}

.button-yellow {
	background-color: #ffcc33;
}

}
.slider-toogle {
	float: right;
	width:340px;
	min-height: 250px;
	
	margin-right:10px;
}

.features {
	padding-bottom: 80px;
	outline: 1px solid red;
	
}

.features-item {
	float: left;
	width: 240px;
	min-height: 300px;
	margin-right: 80px;
	outline: 1px solid red;
}

.features-item h2 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.features-item p {
	font-size: 15px;
	line-height: 22px;

}
.features-item:nth-child(3) {
	margin-right: 0;
	width: 240px;
}

.about-us {
	margin-top: 70px;
}

.about-us-left {
	float: left;
	
	width: 640px;
	min-height: 150px;
	margin-bottom: 150px;
}

.about-us-right {
	float: right;
	width: 240px;
	min-height: 150px;
	margin-bottom: 150px;
}
	
.scroll-left {
	float: left;
	width: 600px;
	margin-bottom: 70px;
	padding-left: 35px;
	border-top: 2px solid black;
	outline: 1px solid #000;
}

.scroll-right {
	float: right;
	outline: 1px solid #000;
	width: 240px;
	margin-bottom: 70px;
}



.map {
	width: 1200px;
	margin: 0 auto;
	min-height: 420px;
	background: url(../img/map.png) no-repeat;
	margin-bottom: 70px;
}

.label {
	display:block;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	min-height: 170px;
	margin-bottom:85px;
	width: 880px;

}
.label a {
	display: inline-block;
    margin-right: 130px;
    vertical-align: middle;
    padding-top: 55px;
    padding-bottom: 40px;


    }

.label a:last-child {
	margin-right: 0;
	}  

	


.social-network {
	float: left;
	outline: 1px solid #000;
	width: 240px;
}

.end {
	float: right;
	outline: 1px solid #000;
	width: 620px;
}

.adress {
	width: 250px;
	min-height: 240px;
}

.welcome {
	text-align:center;
}

main {
	outline: 1px solid #000;
	width: 880px;
}

.block-left {
	float: left;
	width: 280px;
	min-height: 1110px;
	margin-bottom: 80px;

}

.sorting {
	display: inline-block;
	width: 600px;
	margin-bottom: 20px;
}
.sorting span {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

}
.sorting a {
	font-size: 12px;
	line-height: 18px;
	color:#cccccc;
	text-transform: uppercase;
}

.triangle1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #00cc66;
}
  .triangle2 {
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;
           }

.gallery1 {
	float: left;
	margin-bottom: 80px;
	width: 240px;
	margin-right: 80px;
}

.gallery2 {
	float: right;
	margin-bottom: 80px;
	margin-right: 10px;
	width: 240px;
}

.page {
	margin-left: 330px;
	margin-bottom: 80px;
}





.range-filter {
  width: 240px;
  
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}